:root {
  --green: rgb(109, 152, 134);
  --blue: rgb(57, 62, 70);
  --beige: rgb(242, 231, 213);
  --white: rgb(247, 247, 247);
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--green);
  border-radius: 10px;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  border-radius: 5px;
}

.logo img {
  height: 100px;
  border-radius: 10px;
}

.all-links {
  display: flex;
  justify-content: flex-end;
}

.all-links ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.all-links li {
  margin-left: 20px;
  border-radius: 10px;
  padding: 10px;
  font-family: "Raleway";
}

.all-links li:hover {
  background-color: #6d9886;
  transition: 0.3s;
}

.link-text {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f7f7f7;
  font-weight: bold;
  transition: color 0.3s;
  font-size: 1.3rem;
}
