:root {
  --red: #D42B28;
  --white: #F1F1F5;
  --black: #111216;
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--red);
  border-radius: 10px;
  padding:  10px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 15px;
  border-radius: 5px;
}

.logo img {
  height: 100px;
  border-radius: 10px;
}

.all-links {
  display: flex;
  justify-content: flex-end;
}

.all-links ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.all-links li {
  margin-left: 20px;
  border-radius: 10px;
  padding: 10px;
  font-family: "Raleway";
}

.all-links li:hover {
  background-color: var(--black);
  transition: 0.3s;
}

.link-text {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  transition: color 0.3s;
  font-size: 1.3rem;
}

.welcome-msg {
  color: var(--white);
  font-weight: bold;
  font-size: 1.3rem;
  font-family: "raleway";
  margin-right: auto;
}
