:root {
  --red: #d42b28;
  --white: #f1f1f5;
  --black: #111216;
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.landing::before {
  content: "";
  background-image: url("../images/landing-img.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(8px);
  z-index: -1;
}

.text-body {
  position: relative;
  z-index: 1;
  background-color: rgba(17, 18, 22, 0.8);
  border-radius: 10px;
  padding-right: 50px;
  padding-left: 50px;
}

.raleway-headingFont {
  font-family: "Raleway", sans-serif;
  margin: 10px 0;
  font-weight: bold;
  color: var(--white);
}

.premium-brands,
.unbeatable-prices,
.exclusive-designs,
.comfort-guaranteed {
  margin: 10px 0;
  font-family: "Raleway";
  font-weight: bold;
  color: var(--white);
}

.shop-now {
  font-weight: bold;
  margin-top: 20px;
  color: var(--white);
}
